<!-- apresenta a lista de curtidas -->
<div>
  <h4>Apresenta lista de curtidas</h4><br>
  <h4 *ngFor="let genero of musicas">
      <span *ngIf="genero.gostar !== 0"><p>{{genero.titulo}}</p></span>
    </h4>
</div>
<br>
<div>
  <h4>Rank de maior visualizações</h4>
  <span *ngFor="let musica of listaRanking()">{{ musica.nome }} | {{ musica.view }}</span>
</div>

<div>
  <h4>Rank de maior visualizações</h4>
  <table border="1">
    <tr>
      <td>Titulo da Musica </td>
      <td>Qtd de likes </td>
    </tr>
    <tr *ngFor="let musica of ranking()">
      <td>{{ musica.titulo }} </td>
      <td> {{ musica.gostar }} </td>
    </tr>
  </table>
</div>